.Main-Container{
    background-color: var(--Theme-Color-2);
    display: flex;
    align-items: center;
    justify-content: center;
 flex-direction: column;

   
}
.Middle-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Theme-Color-1);
}
#sec1{
    width: 100%;
height: 80vh;
}
.Button-Container{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.Home-Button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1.5rem 2.5rem;
    margin: 1.5rem;
    border: none;
    text-decoration: none !important;
}
.Button-Text{
    transition: 0.3s linear;

}
.Button-Icon{
color: thistle;
visibility: hidden;
opacity: 0;
transform: translateX(-1rem);
transition: 0.4s, visibility 0s, opacity 0.5s linear;
}
/* On Hover Functionality of Button */

.Home-Button:hover >:nth-child(1){
    color: var(--Primary-Font-Color) !important;
    transform: translateX(-0.2rem) ; 
}
.Home-Button:hover .Button-Icon{
    visibility: visible;
    opacity: 1;
    transform: translateX(1.2rem) ;
}


/* Box Container */
#sec2{
    width: 100%;
height: 60vh;


}
.Box-Container{
    margin: 2rem;
  display: flex;
  height: 50vh;
  width: 60%;
  flex-direction: column;
  flex-wrap: wrap;
 
}
.Box-Container >*{
    flex: 1 1 33%;
}
.Small-Box{
    display: flex;
   align-items: center;
   justify-content: center;
    border: 0.4px groove black;
    text-decoration: none !important;
     color: var(--Font-main-color)
}
.Box-Text{
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none !important;
    transition: 0.3s;
    color: var(--Font-main-color) !important;
}
.Box-Icon{
    color: var(--Font-main-color);
    visibility: hidden;
    opacity: 0;
   transform: translateX(-1rem);
   transition: 0.4s, visibility 0s, opacity 0.5s linear;
}

/* Hovering  In Boxes */
.Small-Box:hover{
    background-color: var(--Font-main-color);
    color: Var(--Primary-Font-Color);
}
.Small-Box:hover >:nth-child(1) {
    color: var(--Primary-Font-Color) !important;
   transform: translateX(-0.6rem) ;   
}
.Small-Box:hover .Box-Icon{
    color: var(--Primary-Font-Color);
    visibility: visible;
    opacity: 1;
transform: translateX(1.2rem) ;
}



.Blog-Preview-Container{
    height: 50vh;
    width: 100%;
    background-color:var(--Theme-Color-2);
    display: flex;
    flex-wrap: wrap;
}
.Blog-Preview-Container >*{
    flex: 1 1 50%;
}
.Title-Blog{
    display: flex;
    font-weight: bolder;
    font-family:'Rajdhani', sans-serif;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
}
.Blog-Poster{
    background-color: var(--Theme-Color-2);
 height: inherit;
 max-height: inherit;
 padding: 1rem;
}


@media screen and (max-width: 800px){
    .Button-Container{
        display: flex;
      width: 100%;
      flex-direction: column;
    }
    .Box-Container{
        flex-wrap: nowrap;
    }
    .Small-Box{
        
        height: 15vh;
        margin: 0.2rem;
    }
  }