/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    .Navbackground{
        background-color: var(--Theme-Color-2);
    }
.temp {
    color: var(--Font-main-color) !important;
    background: var(--Theme-Color-2);
    /* background: radial-gradient(circle, #1b363d 0%, #162E37 100%); */
}
.Title{
    font-weight: bold;
    color: var(--Font-main-color);
    font-family: 'Poppins', sans-serif;
}
.Title:hover{
    color: var(--HoverColor);
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.menu_active {
    color: var(--Theme-Color-1) ;
    font-weight: bold;
    border-bottom: 2px solid var(--Theme-Color-1);
}

.navlink {
    color: var(--Font-main-color) !important;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}
/* 
.nav-li-sty {
font-family: 'Domine', serif;
color: white;
}

.nav-li-sty:hover {
color: chartreuse;
} */

.burg {
    display: flex;
    flex-direction: column;
    background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2825, 5, 5, 5.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

}
.btn-sty >*{
background-color: red;
}
/* Navigation Bar styling */

.Navbar-container {
    /* background: radial-gradient(circle, #1b363d 0%, #162E37 100%);
     */
     background: var(--Theme-Color-2);
}

.temp {
    color: var(--Font-main-color);
    /* background: radial-gradient(circle, #1b363d 0%, #162E37 100%); */
    background: var(--Theme-Color-2);
}
