*{
  margin: 0;
  padding: 0;

}
:root {
  --main-bg-color: rgba(0,0,0,0.9);
  --Font-main-color: black;
  --Primary-Font-Color: white;
  --Theme-Color-1: white;
  --Theme-Color-2: turquoise;
  --HoverColor: rgb(164, 175, 172);
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


    
