.cardscontainer{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 90%;
}
.Link{
    text-decoration: none !important;
    
}
.stadium-Main{
    background-color: var(--Theme-Color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.stadium{
    margin: 0.5rem;
    text-decoration: none !important;
    padding: 0.2rem;
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Theme-Color-2);
    border-radius: 0.2rem;
    box-shadow: 4px 2px 11px slategray;

    border: none; 

}
.stadium:hover{
    
   backdrop-filter: blur(5px);

   
}

.StadiumImage{
    margin: 00.2rem;
    width: 100%;
    height: 10rem;

}


.Stadium_Info{
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding-top: 0.2rem;
    align-items: center;
    text-decoration: none !important;
    justify-content: center;
}
.Name{
    text-decoration: none !important;
    font-family:'Rajdhani', sans-serif; 
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--Font-main-color);
    
    
}
.text{
    text-decoration: none !important;
    color: var(--Font-main-color);

    font-family:'Rajdhani', sans-serif; 
    font-size: 1rem;
}
@media screen and (max-width: 800px) {
    .cardscontainer{
        display: flex;
        flex-direction: column;
    }
   }
